<h1 style="text-align: center;padding-bottom: 3rem"><i class="fa-solid fa-graduation-cap"></i>&nbsp;Our Toppers</h1>
<div class="row ml-auto" style="text-align: center;margin-left: auto;margin-right: auto;">
    <div class="col">
        <div class="card mb-5">
            <div class="face front-face">
                <img src="img/result.jpg"
                    alt="" class="profile">
                <div class="pt-3 text-uppercase name">
                    Robert Garrison
                </div>
                <div class="designation text-dark"><strong> Bakhti Rahman</strong></div>
                <div class="Marks text-dark">1100 / 1100</div>

                
            </div>
            <div class="face back-face">
                <span class="fas fa-quote-left text-dark"></span>
                <div style="font-size: 1.3rem;" class="designation text-dark"><strong> Bakhti Rahman</strong></div>
                <br>
                <div class="testimonial text-dark">
                    I made bacck the purchase price in just 48 hours! Thank you for making it pain less,
                    pleasant.
                    The service was execellent. I will refer everyone I know.
                </div>
                <span class="fas fa-quote-right text-dark"></span>
            </div>
        </div>
    </div>
    
    <div class="col">
        <div class="card mb-5">
            <div class="face front-face">
                <img src="img/result.jpg"
                    alt="" class="profile">
                <div class="pt-3 text-uppercase name">
                    Robert Garrison
                </div>
                <div class="designation text-dark"><strong> Bakhti Rahman</strong></div>
                <div class="Marks text-dark">1100 / 1100</div>

                
            </div>
            <div class="face back-face">
                <span class="fas fa-quote-left text-dark"></span>
                <div style="font-size: 1.3rem;" class="designation text-dark"><strong> Bakhti Rahman</strong></div>
                <br>
                <div class="testimonial text-dark">
                    I made bacck the purchase price in just 48 hours! Thank you for making it pain less,
                    pleasant.
                    The service was execellent. I will refer everyone I know.
                </div>
                <span class="fas fa-quote-right text-dark"></span>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card mb-5">
            <div class="face front-face">
                <img src="img/result.jpg"
                    alt="" class="profile">
                <div class="pt-3 text-uppercase name">
                    Robert Garrison
                </div>
                <div class="designation text-dark"><strong> Bakhti Rahman</strong></div>
                <div class="Marks text-dark">1100 / 1100</div>

                
            </div>
            <div class="face back-face">
                <span class="fas fa-quote-left text-dark"></span>
                <div style="font-size: 1.3rem;" class="designation text-dark"><strong> Bakhti Rahman</strong></div>
                <br>
                <div class="testimonial text-dark">
                    I made bacck the purchase price in just 48 hours! Thank you for making it pain less,
                    pleasant.
                    The service was execellent. I will refer everyone I know.
                </div>
                <span class="fas fa-quote-right text-dark"></span>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card mb-5">
            <div class="face front-face">
                <img src="img/result.jpg"
                    alt="" class="profile">
                <div class="pt-3 text-uppercase name">
                    Robert Garrison
                </div>
                <div class="designation text-dark"><strong> Bakhti Rahman</strong></div>
                <div class="Marks text-dark">1100 / 1100</div>

                
            </div>
            <div class="face back-face">
                <span class="fas fa-quote-left text-dark"></span>
                <div style="font-size: 1.3rem;" class="designation text-dark"><strong> Bakhti Rahman</strong></div>
                <br>
                <div class="testimonial text-dark">
                    I made bacck the purchase price in just 48 hours! Thank you for making it pain less,
                    pleasant.
                    The service was execellent. I will refer everyone I know.
                </div>
                <span class="fas fa-quote-right text-dark"></span>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card mb-5">
            <div class="face front-face">
                <img src="img/result.jpg"
                    alt="" class="profile">
                <div class="pt-3 text-uppercase name">
                    Robert Garrison
                </div>
                <div class="designation text-dark"><strong> Bakhti Rahman</strong></div>
                <div class="Marks text-dark">1100 / 1100</div>

                
            </div>
            <div class="face back-face">
                <span class="fas fa-quote-left text-dark"></span>
                <div style="font-size: 1.3rem;" class="designation text-dark"><strong> Bakhti Rahman</strong></div>
                <br>
                <div class="testimonial text-dark">
                    I made bacck the purchase price in just 48 hours! Thank you for making it pain less,
                    pleasant.
                    The service was execellent. I will refer everyone I know.
                </div>
                <span class="fas fa-quote-right text-dark"></span>
            </div>
        </div>
    </div>
    </div>